<!DOCTYPE html>
<html lang="en">

<head>
    <title>HomePage</title>
    <%- include('./partials/head') %>
</head>

<body>


    <%- include('./partials/nav') %>

        <!-- <%= JSON.stringify(user) %> -->
        <!-- <%= JSON.stringify(blogs) %>  -->

        <% if (locals.error) { %>
            <div class="alert alert-danger mt-20" role="alert">
                Too many login attempts, please try again later"
            </div>
            <% } %>

            <% if (locals.user) { %>
             
            
                <div class=" mt-3 row row-cols-4 container-fluid" >
                    <% blogs.forEach(blog=> { %>

                        <div class="card col ">
                            <img src="<%= blog.coverImageUrl %> " class="card-img-top" alt="Img1" width="200px">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= blog.title %>
                                </h5>
                                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

                                <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                            </div>

                        </div>
                        <% }) %>

                </div>
                <% } %>
                <%- include('./partials/script') %>


</body>

</html>